@model ProductUpdateVM




<div class="container my-5">
    <form class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">

        <div class="mt-5">
            @foreach (var item in Model.Images)
            {
                <img src="~/img/@item.Image" style="width: 150px; height: 150px;" />
            }
        </div>

        <div class="mt-5">
            <label for="formFile" class="form-label my-2">Add Photo</label>
            <input class="form-control" id="customFile" asp-for="Photos" />
        </div>

        <div class="mt-5">
            <label for="formFile" class="form-label my-2">Add Title</label>
            <input class="form-control" id="customFile" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mt-5">
            <label for="formFile" class="form-label my-2">Add Description</label>
            <textarea class="form-control" id="category-text" asp-for="Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mt-5">
            <label for="formFile" class="form-label my-2">Add Price</label>
            <input type="number" step=".01" class="form-control" id="customFile" asp-for="Price" />  @*step=".01"---input type decimal olsun*@
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="mt-5">
            <label for="formFile" class="form-label my-2">Add Count</label>
            <input class="form-control" id="customFile" asp-for="Count" />
            <span class="text-danger" asp-validation-for="Count"></span>
        </div>
        <div class="mt-5">
            <label for="formFile" class="form-label my-2">Add Category</label>
            <select class="form-control" id="customFile" asp-for="CategoryId" asp-items="@ViewBag.categories"></select>  @*asp-items-value ve text mentiqinde isleyir.select tagin valusu=asp-for(id mentiqene gore isleyir);select tagin texti=icindeki checkbox  data-name*@
        </div>
   

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>

</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/ckeditor/ckeditor.js"></script> 
    <script>
        CKEDITOR.replace("category-text")   
    </script>

 }